body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  justify-content: center;
}

.episode-box {
  padding: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-around;
  background: white;
  text-align: center;
  padding: 0.5rem;
}

.menuBar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  font-size: 20px;
  background: white;
  position: sticky;
  top: 0;
}

.menuBar a {
  margin: 10px;
}

.fav {
  background: green;
  color: white;
}
